{
    "swagger": "2.0",
    "info": {
        "title": "EventMobi API V2 Spec",
        "description": "Eventmobi Public API documentation.\n\nPlease refer to [developer site for tutotials, SDK and helps](http://google.ca).\n\nUpdated Aug 2016. Please refer to the [patch notes for details](http://google.ca).\n",
        "version": "2.0.1a"
    },
    "host": "api.eventmobi.com",
    "schemes": [
        "https"
    ],
    "basePath": "/en/api/v2",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/events/{event_id}/people": {
            "get": {
                "summary": "GET people",
                "description": "This request will return an overview of people data statistics in specific events. \n",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "the event ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ext_id_system",
                        "in": "header",
                        "description": "the external system of ID used in path. Default value is Eventmobi. Once used, all IDs will use external system. For each ID in path, if the external system ID is not defined, will use default instead.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "People"
                ],
                "responses": {
                    "200": {
                        "description": "The statistics of people data",
                        "schema": {
                            "type": "object",
                            "description": "The statistics of people data",
                            "properties": {
                                "people_number": {
                                    "type": "integer",
                                    "description": "people number in this event. You may use this number for better query pagination."
                                },
                                "group_number": {
                                    "type": "integer",
                                    "description": "the number of groups defined"
                                },
                                "custom_field_number": {
                                    "type": "integer",
                                    "description": "the number of custom fields"
                                },
                                "groups": {
                                    "type": "array",
                                    "description": "the groups defined in this event.",
                                    "items": {
                                        "type": "object",
                                        "description": "The base response model of groups",
                                        "properties": {
                                            "group_id": {
                                                "type": "string",
                                                "description": "the unique ID of group"
                                            },
                                            "external_ids": {
                                                "type": "array",
                                                "description": "the external IDs used for integrations",
                                                "items": {
                                                    "type": "object",
                                                    "description": "The IDs from different systems. Used for integration mapping. A default Eventmobi ID will always be generated and cannot be changed once created. Additional IDs can be added/updated for external systems.",
                                                    "properties": {
                                                        "id_system": {
                                                            "type": "string",
                                                            "description": "The external ID can be accessed when query indicateds which system the ID belongs to. The default system Eventmobi is reserved.\n"
                                                        },
                                                        "id": {
                                                            "type": "string",
                                                            "description": "the external ID. Must be unique in the same ID system. Case sensitive."
                                                        }
                                                    }
                                                }
                                            },
                                            "group_type": {
                                                "type": "string",
                                                "description": "for people group, it could be \"attendees\" or \"speakers\" or \"custom\". For other groups, it will be always \"custom\" for now.",
                                                "enum": [
                                                    "attendees",
                                                    "speakers",
                                                    "custom"
                                                ]
                                            },
                                            "group_name": {
                                                "type": "string",
                                                "description": "the unique name of group"
                                            },
                                            "group_color": {
                                                "type": "string",
                                                "format": "#RRGGBB",
                                                "description": "the HEX color code in #RRGGBB"
                                            },
                                            "member_number": {
                                                "type": "number",
                                                "description": "the auto-generated number of members in this group"
                                            },
                                            "timestamps": {
                                                "type": "object",
                                                "description": "The timestamps for the object in either timestamp integer or ISO Date+Time+TimeZone format (E.g. 2016-09-02T15:26:49-04:00 for the same timezone of this event) . Please use query parameter to idenitfy which one you want. Default value is ISO format.",
                                                "properties": {
                                                    "request_datetime": {
                                                        "type": "string",
                                                        "description": "The time of this API request"
                                                    },
                                                    "creation_datetime": {
                                                        "type": "string",
                                                        "description": "the time of object creation"
                                                    },
                                                    "update_datetime": {
                                                        "type": "string",
                                                        "description": "the time of last modification"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "custom_fields": {
                                    "type": "array",
                                    "description": "the custom fields defined in this event",
                                    "items": {
                                        "type": "object",
                                        "description": "The base custom field model",
                                        "properties": {
                                            "custom_field_id": {
                                                "type": "string",
                                                "description": "the unique ID of custom field"
                                            },
                                            "external_ids": {
                                                "type": "array",
                                                "description": "the external IDs used for integrations",
                                                "items": {
                                                    "type": "object",
                                                    "description": "The IDs from different systems. Used for integration mapping. A default Eventmobi ID will always be generated and cannot be changed once created. Additional IDs can be added/updated for external systems.",
                                                    "properties": {
                                                        "id_system": {
                                                            "type": "string",
                                                            "description": "The external ID can be accessed when query indicateds which system the ID belongs to. The default system Eventmobi is reserved.\n"
                                                        },
                                                        "id": {
                                                            "type": "string",
                                                            "description": "the external ID. Must be unique in the same ID system. Case sensitive."
                                                        }
                                                    }
                                                }
                                            },
                                            "field_name": {
                                                "type": "string",
                                                "description": "the field name"
                                            },
                                            "view_permission": {
                                                "type": "string",
                                                "enum": [
                                                    "Everyone",
                                                    "Organizer and Data Owner",
                                                    "Organizer"
                                                ]
                                            },
                                            "edit_permission": {
                                                "type": "string",
                                                "enum": [
                                                    "Everyone",
                                                    "Organizer and Data Owner",
                                                    "Organizer"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "General 400/500 error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "fields": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/events/{event_id}/people/resources": {
            "get": {
                "summary": "GET person",
                "description": "This request will return an array of people data statistics in specific events. Default paginition is the first 20 records from offset 0. \n",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "the event ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ext_id_system",
                        "in": "header",
                        "description": "the external system of ID used in path. Default value is Eventmobi. Once used, all IDs will use external system. For each ID in path, if the external system ID is not defined, will use default instead.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "filter results by specific IDs. Please use \",\" to seperate multiple items.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "emails",
                        "in": "query",
                        "description": "filter results by specific Emails. Please use \",\" to seperate multiple items.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "groups",
                        "in": "query",
                        "description": "filter results by specific Groups. Please use \",\" to seperate multiple items.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limits the number of returned results",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Define the offset index of returned results",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    }
                ],
                "tags": [
                    "People"
                ],
                "responses": {
                    "200": {
                        "description": "The array of people",
                        "schema": {
                            "type": "object",
                            "description": "the query of people",
                            "properties": {
                                "query_string": {
                                    "type": "string",
                                    "description": "the original query string. Offset and limit parameter will show default value (offset=0&limit=20) if not provided in original request."
                                },
                                "record_number": {
                                    "type": "integer",
                                    "description": "the number of recodes that matches query. If no query filters requested, this will be the total number of people."
                                },
                                "people_list": {
                                    "type": "array",
                                    "description": "the array of people",
                                    "items": {
                                        "type": "object",
                                        "description": "the single person record",
                                        "properties": {
                                            "person_id": {
                                                "type": "string",
                                                "description": "the unique ID of person in people"
                                            },
                                            "external_ids": {
                                                "type": "array",
                                                "description": "the external IDs used for integrations",
                                                "items": {
                                                    "type": "object",
                                                    "description": "The IDs from different systems. Used for integration mapping. A default Eventmobi ID will always be generated and cannot be changed once created. Additional IDs can be added/updated for external systems.",
                                                    "properties": {
                                                        "id_system": {
                                                            "type": "string",
                                                            "description": "The external ID can be accessed when query indicateds which system the ID belongs to. The default system Eventmobi is reserved.\n"
                                                        },
                                                        "id": {
                                                            "type": "string",
                                                            "description": "the external ID. Must be unique in the same ID system. Case sensitive."
                                                        }
                                                    }
                                                }
                                            },
                                            "profile": {
                                                "type": "object",
                                                "description": "the profile data of person. Including standard Eventmobi fields as well as custom fields.",
                                                "properties": {
                                                    "first_name": {
                                                        "type": "string"
                                                    },
                                                    "last_name": {
                                                        "type": "string"
                                                    },
                                                    "email_address": {
                                                        "type": "string"
                                                    },
                                                    "picture_url": {
                                                        "type": "string",
                                                        "description": "the URL of /resource/picture returns after pictures uploaded"
                                                    },
                                                    "company": {
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "about": {
                                                        "type": "string"
                                                    },
                                                    "social_contacts": {
                                                        "type": "object",
                                                        "description": "The general contact info record",
                                                        "properties": {
                                                            "twitter_url": {
                                                                "type": "string"
                                                            },
                                                            "facebook_url": {
                                                                "type": "string"
                                                            },
                                                            "linkedin_url": {
                                                                "type": "string"
                                                            },
                                                            "website_url": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "custom_fields_meta": {
                                                "type": "object",
                                                "description": "the {custom_field_id:custom_field_value} format JSON object"
                                            },
                                            "groups": {
                                                "type": "array",
                                                "description": "The array of groups",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "group_id": {
                                                            "type": "string",
                                                            "description": "the unique ID of group"
                                                        },
                                                        "group_name": {
                                                            "type": "string",
                                                            "description": "the name of group"
                                                        }
                                                    }
                                                }
                                            },
                                            "agenda": {
                                                "type": "object",
                                                "description": "Agenda for people record. Defaultly, if no session role is assigned, the people is attendee.",
                                                "properties": {
                                                    "sessions": {
                                                        "type": "array",
                                                        "description": "sessions info in array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "session_id": {
                                                                    "type": "string",
                                                                    "description": "the session ID"
                                                                },
                                                                "session_roles": {
                                                                    "type": "array",
                                                                    "description": "the session role IDs in array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "favorite_data": {
                                                "type": "object",
                                                "properties": {
                                                    "sessions": {
                                                        "type": "array",
                                                        "description": "the personal agenda with session IDs to attend",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "companies": {
                                                        "type": "object"
                                                    },
                                                    "docs": {
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "docs": {
                                                "type": "array",
                                                "description": "the docs linked to the people",
                                                "items": {
                                                    "type": "string",
                                                    "description": "The document ID"
                                                }
                                            },
                                            "personal_settings": {
                                                "type": "object",
                                                "description": "'the {config_feature_key:config_value} format JSON object E.g.  {\"direct_messaging\":\"true\", \"offline_email_messaging\": \"true\"}.'\n"
                                            },
                                            "timestamps": {
                                                "type": "object",
                                                "description": "The timestamps for the object in either timestamp integer or ISO Date+Time+TimeZone format (E.g. 2016-09-02T15:26:49-04:00 for the same timezone of this event) . Please use query parameter to idenitfy which one you want. Default value is ISO format.",
                                                "properties": {
                                                    "request_datetime": {
                                                        "type": "string",
                                                        "description": "The time of this API request"
                                                    },
                                                    "creation_datetime": {
                                                        "type": "string",
                                                        "description": "the time of object creation"
                                                    },
                                                    "update_datetime": {
                                                        "type": "string",
                                                        "description": "the time of last modification"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "General 400/500 error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "fields": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "POST person",
                "description": "Add new person in the event\n",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "the event ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ext_id_system",
                        "in": "header",
                        "description": "the external system of ID used in path. Default value is Eventmobi. Once used, all IDs will use external system. For each ID in path, if the external system ID is not defined, will use default instead.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "person",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "description": "the single person record",
                            "properties": {
                                "person_id": {
                                    "type": "string",
                                    "description": "the unique ID of person in people"
                                },
                                "external_ids": {
                                    "type": "array",
                                    "description": "the external IDs used for integrations",
                                    "items": {
                                        "type": "object",
                                        "description": "The IDs from different systems. Used for integration mapping. A default Eventmobi ID will always be generated and cannot be changed once created. Additional IDs can be added/updated for external systems.",
                                        "properties": {
                                            "id_system": {
                                                "type": "string",
                                                "description": "The external ID can be accessed when query indicateds which system the ID belongs to. The default system Eventmobi is reserved.\n"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "the external ID. Must be unique in the same ID system. Case sensitive."
                                            }
                                        }
                                    }
                                },
                                "profile": {
                                    "type": "object",
                                    "description": "the profile data of person. Including standard Eventmobi fields as well as custom fields.",
                                    "properties": {
                                        "first_name": {
                                            "type": "string"
                                        },
                                        "last_name": {
                                            "type": "string"
                                        },
                                        "email_address": {
                                            "type": "string"
                                        },
                                        "picture_resource_id": {
                                            "type": "string",
                                            "description": "the resource ID of pictures uploaded"
                                        },
                                        "company": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "about": {
                                            "type": "string"
                                        },
                                        "social_contacts": {
                                            "type": "object",
                                            "description": "The general contact info record",
                                            "properties": {
                                                "twitter_url": {
                                                    "type": "string"
                                                },
                                                "facebook_url": {
                                                    "type": "string"
                                                },
                                                "linkedin_url": {
                                                    "type": "string"
                                                },
                                                "website_url": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "custom_fields_meta": {
                                    "type": "object",
                                    "description": "the {custom_field_id:custom_field_value} format JSON object"
                                },
                                "assign_groups": {
                                    "type": "array",
                                    "description": "the array of group IDs",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "assign_agenda": {
                                    "type": "object",
                                    "description": "Agenda for people record. Defaultly, if no session role is assigned, the people is attendee.",
                                    "properties": {
                                        "sessions": {
                                            "type": "array",
                                            "description": "sessions info in array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "session_id": {
                                                        "type": "string",
                                                        "description": "the session ID"
                                                    },
                                                    "session_roles": {
                                                        "type": "array",
                                                        "description": "the session role IDs in array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "upload_picture": {
                                    "type": "object",
                                    "description": "Use this structure if you want Eventmobi to download the picture from Internet locations and associate picture. You will need to specify image cropping info if the picture is not square (same height and length). This will overwrite the picture_url in base profile, and the value in picture_url will be ignored.",
                                    "properties": {
                                        "url": {
                                            "type": "string",
                                            "description": "file location. Have to be a valid image file. Supports jpeg, jpg and png."
                                        },
                                        "trim": {
                                            "type": "string",
                                            "format": "AxB:CxD",
                                            "description": "AxB:CxD means manually crop the image at left-top point AxB and right-bottom point CxD in pixels. The height and width of crop must be the same (image needs to be square). This parameter is required if your image is not square."
                                        }
                                    }
                                },
                                "link_docs": {
                                    "type": "array",
                                    "items": {
                                        "type": "array",
                                        "description": "the array of Document IDs",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "tags": [
                    "People"
                ],
                "responses": {
                    "200": {
                        "description": "The person record created",
                        "schema": {
                            "type": "object",
                            "description": "the single person record",
                            "properties": {
                                "person_id": {
                                    "type": "string",
                                    "description": "the unique ID of person in people"
                                },
                                "external_ids": {
                                    "type": "array",
                                    "description": "the external IDs used for integrations",
                                    "items": {
                                        "type": "object",
                                        "description": "The IDs from different systems. Used for integration mapping. A default Eventmobi ID will always be generated and cannot be changed once created. Additional IDs can be added/updated for external systems.",
                                        "properties": {
                                            "id_system": {
                                                "type": "string",
                                                "description": "The external ID can be accessed when query indicateds which system the ID belongs to. The default system Eventmobi is reserved.\n"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "the external ID. Must be unique in the same ID system. Case sensitive."
                                            }
                                        }
                                    }
                                },
                                "profile": {
                                    "type": "object",
                                    "description": "the profile data of person. Including standard Eventmobi fields as well as custom fields.",
                                    "properties": {
                                        "first_name": {
                                            "type": "string"
                                        },
                                        "last_name": {
                                            "type": "string"
                                        },
                                        "email_address": {
                                            "type": "string"
                                        },
                                        "picture_url": {
                                            "type": "string",
                                            "description": "the URL of /resource/picture returns after pictures uploaded"
                                        },
                                        "company": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "about": {
                                            "type": "string"
                                        },
                                        "social_contacts": {
                                            "type": "object",
                                            "description": "The general contact info record",
                                            "properties": {
                                                "twitter_url": {
                                                    "type": "string"
                                                },
                                                "facebook_url": {
                                                    "type": "string"
                                                },
                                                "linkedin_url": {
                                                    "type": "string"
                                                },
                                                "website_url": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "custom_fields_meta": {
                                    "type": "object",
                                    "description": "the {custom_field_id:custom_field_value} format JSON object"
                                },
                                "groups": {
                                    "type": "array",
                                    "description": "The array of groups",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "group_id": {
                                                "type": "string",
                                                "description": "the unique ID of group"
                                            },
                                            "group_name": {
                                                "type": "string",
                                                "description": "the name of group"
                                            }
                                        }
                                    }
                                },
                                "agenda": {
                                    "type": "object",
                                    "description": "Agenda for people record. Defaultly, if no session role is assigned, the people is attendee.",
                                    "properties": {
                                        "sessions": {
                                            "type": "array",
                                            "description": "sessions info in array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "session_id": {
                                                        "type": "string",
                                                        "description": "the session ID"
                                                    },
                                                    "session_roles": {
                                                        "type": "array",
                                                        "description": "the session role IDs in array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "favorite_data": {
                                    "type": "object",
                                    "properties": {
                                        "sessions": {
                                            "type": "array",
                                            "description": "the personal agenda with session IDs to attend",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "companies": {
                                            "type": "object"
                                        },
                                        "docs": {
                                            "type": "object"
                                        }
                                    }
                                },
                                "docs": {
                                    "type": "array",
                                    "description": "the docs linked to the people",
                                    "items": {
                                        "type": "string",
                                        "description": "The document ID"
                                    }
                                },
                                "personal_settings": {
                                    "type": "object",
                                    "description": "'the {config_feature_key:config_value} format JSON object E.g.  {\"direct_messaging\":\"true\", \"offline_email_messaging\": \"true\"}.'\n"
                                },
                                "timestamps": {
                                    "type": "object",
                                    "description": "The timestamps for the object in either timestamp integer or ISO Date+Time+TimeZone format (E.g. 2016-09-02T15:26:49-04:00 for the same timezone of this event) . Please use query parameter to idenitfy which one you want. Default value is ISO format.",
                                    "properties": {
                                        "request_datetime": {
                                            "type": "string",
                                            "description": "The time of this API request"
                                        },
                                        "creation_datetime": {
                                            "type": "string",
                                            "description": "the time of object creation"
                                        },
                                        "update_datetime": {
                                            "type": "string",
                                            "description": "the time of last modification"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "General 400/500 error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "fields": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/events/{event_id}/people/resources/{person_id}": {
            "get": {
                "summary": "GET person_id",
                "description": "Placeholder\n",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "the event ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "person_id",
                        "in": "path",
                        "description": "the person ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ext_id_system",
                        "in": "header",
                        "description": "the external system of ID used in path. Default value is Eventmobi. Once used, all IDs will use external system. For each ID in path, if the external system ID is not defined, will use default instead.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "People"
                ],
                "responses": {
                    "200": {
                        "description": "The single person record",
                        "schema": {
                            "type": "object",
                            "description": "the single person record",
                            "properties": {
                                "person_id": {
                                    "type": "string",
                                    "description": "the unique ID of person in people"
                                },
                                "external_ids": {
                                    "type": "array",
                                    "description": "the external IDs used for integrations",
                                    "items": {
                                        "type": "object",
                                        "description": "The IDs from different systems. Used for integration mapping. A default Eventmobi ID will always be generated and cannot be changed once created. Additional IDs can be added/updated for external systems.",
                                        "properties": {
                                            "id_system": {
                                                "type": "string",
                                                "description": "The external ID can be accessed when query indicateds which system the ID belongs to. The default system Eventmobi is reserved.\n"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "the external ID. Must be unique in the same ID system. Case sensitive."
                                            }
                                        }
                                    }
                                },
                                "profile": {
                                    "type": "object",
                                    "description": "the profile data of person. Including standard Eventmobi fields as well as custom fields.",
                                    "properties": {
                                        "first_name": {
                                            "type": "string"
                                        },
                                        "last_name": {
                                            "type": "string"
                                        },
                                        "email_address": {
                                            "type": "string"
                                        },
                                        "picture_url": {
                                            "type": "string",
                                            "description": "the URL of /resource/picture returns after pictures uploaded"
                                        },
                                        "company": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "about": {
                                            "type": "string"
                                        },
                                        "social_contacts": {
                                            "type": "object",
                                            "description": "The general contact info record",
                                            "properties": {
                                                "twitter_url": {
                                                    "type": "string"
                                                },
                                                "facebook_url": {
                                                    "type": "string"
                                                },
                                                "linkedin_url": {
                                                    "type": "string"
                                                },
                                                "website_url": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "custom_fields_meta": {
                                    "type": "object",
                                    "description": "the {custom_field_id:custom_field_value} format JSON object"
                                },
                                "groups": {
                                    "type": "array",
                                    "description": "The array of groups",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "group_id": {
                                                "type": "string",
                                                "description": "the unique ID of group"
                                            },
                                            "group_name": {
                                                "type": "string",
                                                "description": "the name of group"
                                            }
                                        }
                                    }
                                },
                                "agenda": {
                                    "type": "object",
                                    "description": "Agenda for people record. Defaultly, if no session role is assigned, the people is attendee.",
                                    "properties": {
                                        "sessions": {
                                            "type": "array",
                                            "description": "sessions info in array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "session_id": {
                                                        "type": "string",
                                                        "description": "the session ID"
                                                    },
                                                    "session_roles": {
                                                        "type": "array",
                                                        "description": "the session role IDs in array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "favorite_data": {
                                    "type": "object",
                                    "properties": {
                                        "sessions": {
                                            "type": "array",
                                            "description": "the personal agenda with session IDs to attend",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "companies": {
                                            "type": "object"
                                        },
                                        "docs": {
                                            "type": "object"
                                        }
                                    }
                                },
                                "docs": {
                                    "type": "array",
                                    "description": "the docs linked to the people",
                                    "items": {
                                        "type": "string",
                                        "description": "The document ID"
                                    }
                                },
                                "personal_settings": {
                                    "type": "object",
                                    "description": "'the {config_feature_key:config_value} format JSON object E.g.  {\"direct_messaging\":\"true\", \"offline_email_messaging\": \"true\"}.'\n"
                                },
                                "timestamps": {
                                    "type": "object",
                                    "description": "The timestamps for the object in either timestamp integer or ISO Date+Time+TimeZone format (E.g. 2016-09-02T15:26:49-04:00 for the same timezone of this event) . Please use query parameter to idenitfy which one you want. Default value is ISO format.",
                                    "properties": {
                                        "request_datetime": {
                                            "type": "string",
                                            "description": "The time of this API request"
                                        },
                                        "creation_datetime": {
                                            "type": "string",
                                            "description": "the time of object creation"
                                        },
                                        "update_datetime": {
                                            "type": "string",
                                            "description": "the time of last modification"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "General 400/500 error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "fields": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "summary": "PATCH person_id",
                "description": "Placeholder\n",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "the event ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "person_id",
                        "in": "path",
                        "description": "the person ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ext_id_system",
                        "in": "header",
                        "description": "the external system of ID used in path. Default value is Eventmobi. Once used, all IDs will use external system. For each ID in path, if the external system ID is not defined, will use default instead.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "person",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "description": "the single person record",
                            "properties": {
                                "person_id": {
                                    "type": "string",
                                    "description": "the unique ID of person in people"
                                },
                                "external_ids": {
                                    "type": "array",
                                    "description": "the external IDs used for integrations",
                                    "items": {
                                        "type": "object",
                                        "description": "The IDs from different systems. Used for integration mapping. A default Eventmobi ID will always be generated and cannot be changed once created. Additional IDs can be added/updated for external systems.",
                                        "properties": {
                                            "id_system": {
                                                "type": "string",
                                                "description": "The external ID can be accessed when query indicateds which system the ID belongs to. The default system Eventmobi is reserved.\n"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "the external ID. Must be unique in the same ID system. Case sensitive."
                                            }
                                        }
                                    }
                                },
                                "profile": {
                                    "type": "object",
                                    "description": "the profile data of person. Including standard Eventmobi fields as well as custom fields.",
                                    "properties": {
                                        "first_name": {
                                            "type": "string"
                                        },
                                        "last_name": {
                                            "type": "string"
                                        },
                                        "email_address": {
                                            "type": "string"
                                        },
                                        "picture_resource_id": {
                                            "type": "string",
                                            "description": "the resource ID of pictures uploaded"
                                        },
                                        "company": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "about": {
                                            "type": "string"
                                        },
                                        "social_contacts": {
                                            "type": "object",
                                            "description": "The general contact info record",
                                            "properties": {
                                                "twitter_url": {
                                                    "type": "string"
                                                },
                                                "facebook_url": {
                                                    "type": "string"
                                                },
                                                "linkedin_url": {
                                                    "type": "string"
                                                },
                                                "website_url": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "custom_fields_meta": {
                                    "type": "object",
                                    "description": "the {custom_field_id:custom_field_value} format JSON object"
                                },
                                "assign_groups": {
                                    "type": "array",
                                    "description": "the array of group IDs",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "assign_agenda": {
                                    "type": "object",
                                    "description": "Agenda for people record. Defaultly, if no session role is assigned, the people is attendee.",
                                    "properties": {
                                        "sessions": {
                                            "type": "array",
                                            "description": "sessions info in array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "session_id": {
                                                        "type": "string",
                                                        "description": "the session ID"
                                                    },
                                                    "session_roles": {
                                                        "type": "array",
                                                        "description": "the session role IDs in array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "upload_picture": {
                                    "type": "object",
                                    "description": "Use this structure if you want Eventmobi to download the picture from Internet locations and associate picture. You will need to specify image cropping info if the picture is not square (same height and length). This will overwrite the picture_url in base profile, and the value in picture_url will be ignored.",
                                    "properties": {
                                        "url": {
                                            "type": "string",
                                            "description": "file location. Have to be a valid image file. Supports jpeg, jpg and png."
                                        },
                                        "trim": {
                                            "type": "string",
                                            "format": "AxB:CxD",
                                            "description": "AxB:CxD means manually crop the image at left-top point AxB and right-bottom point CxD in pixels. The height and width of crop must be the same (image needs to be square). This parameter is required if your image is not square."
                                        }
                                    }
                                },
                                "link_docs": {
                                    "type": "array",
                                    "items": {
                                        "type": "array",
                                        "description": "the array of Document IDs",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "tags": [
                    "People"
                ],
                "responses": {
                    "200": {
                        "description": "The person record updated",
                        "schema": {
                            "type": "object",
                            "description": "the single person record",
                            "properties": {
                                "person_id": {
                                    "type": "string",
                                    "description": "the unique ID of person in people"
                                },
                                "external_ids": {
                                    "type": "array",
                                    "description": "the external IDs used for integrations",
                                    "items": {
                                        "type": "object",
                                        "description": "The IDs from different systems. Used for integration mapping. A default Eventmobi ID will always be generated and cannot be changed once created. Additional IDs can be added/updated for external systems.",
                                        "properties": {
                                            "id_system": {
                                                "type": "string",
                                                "description": "The external ID can be accessed when query indicateds which system the ID belongs to. The default system Eventmobi is reserved.\n"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "the external ID. Must be unique in the same ID system. Case sensitive."
                                            }
                                        }
                                    }
                                },
                                "profile": {
                                    "type": "object",
                                    "description": "the profile data of person. Including standard Eventmobi fields as well as custom fields.",
                                    "properties": {
                                        "first_name": {
                                            "type": "string"
                                        },
                                        "last_name": {
                                            "type": "string"
                                        },
                                        "email_address": {
                                            "type": "string"
                                        },
                                        "picture_url": {
                                            "type": "string",
                                            "description": "the URL of /resource/picture returns after pictures uploaded"
                                        },
                                        "company": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "about": {
                                            "type": "string"
                                        },
                                        "social_contacts": {
                                            "type": "object",
                                            "description": "The general contact info record",
                                            "properties": {
                                                "twitter_url": {
                                                    "type": "string"
                                                },
                                                "facebook_url": {
                                                    "type": "string"
                                                },
                                                "linkedin_url": {
                                                    "type": "string"
                                                },
                                                "website_url": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "custom_fields_meta": {
                                    "type": "object",
                                    "description": "the {custom_field_id:custom_field_value} format JSON object"
                                },
                                "groups": {
                                    "type": "array",
                                    "description": "The array of groups",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "group_id": {
                                                "type": "string",
                                                "description": "the unique ID of group"
                                            },
                                            "group_name": {
                                                "type": "string",
                                                "description": "the name of group"
                                            }
                                        }
                                    }
                                },
                                "agenda": {
                                    "type": "object",
                                    "description": "Agenda for people record. Defaultly, if no session role is assigned, the people is attendee.",
                                    "properties": {
                                        "sessions": {
                                            "type": "array",
                                            "description": "sessions info in array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "session_id": {
                                                        "type": "string",
                                                        "description": "the session ID"
                                                    },
                                                    "session_roles": {
                                                        "type": "array",
                                                        "description": "the session role IDs in array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "favorite_data": {
                                    "type": "object",
                                    "properties": {
                                        "sessions": {
                                            "type": "array",
                                            "description": "the personal agenda with session IDs to attend",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "companies": {
                                            "type": "object"
                                        },
                                        "docs": {
                                            "type": "object"
                                        }
                                    }
                                },
                                "docs": {
                                    "type": "array",
                                    "description": "the docs linked to the people",
                                    "items": {
                                        "type": "string",
                                        "description": "The document ID"
                                    }
                                },
                                "personal_settings": {
                                    "type": "object",
                                    "description": "'the {config_feature_key:config_value} format JSON object E.g.  {\"direct_messaging\":\"true\", \"offline_email_messaging\": \"true\"}.'\n"
                                },
                                "timestamps": {
                                    "type": "object",
                                    "description": "The timestamps for the object in either timestamp integer or ISO Date+Time+TimeZone format (E.g. 2016-09-02T15:26:49-04:00 for the same timezone of this event) . Please use query parameter to idenitfy which one you want. Default value is ISO format.",
                                    "properties": {
                                        "request_datetime": {
                                            "type": "string",
                                            "description": "The time of this API request"
                                        },
                                        "creation_datetime": {
                                            "type": "string",
                                            "description": "the time of object creation"
                                        },
                                        "update_datetime": {
                                            "type": "string",
                                            "description": "the time of last modification"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "General 400/500 error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "fields": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "PUT person_id",
                "description": "Placeholder\n",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "the event ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "person_id",
                        "in": "path",
                        "description": "the person ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ext_id_system",
                        "in": "header",
                        "description": "the external system of ID used in path. Default value is Eventmobi. Once used, all IDs will use external system. For each ID in path, if the external system ID is not defined, will use default instead.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "person",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "description": "the single person record",
                            "properties": {
                                "person_id": {
                                    "type": "string",
                                    "description": "the unique ID of person in people"
                                },
                                "external_ids": {
                                    "type": "array",
                                    "description": "the external IDs used for integrations",
                                    "items": {
                                        "type": "object",
                                        "description": "The IDs from different systems. Used for integration mapping. A default Eventmobi ID will always be generated and cannot be changed once created. Additional IDs can be added/updated for external systems.",
                                        "properties": {
                                            "id_system": {
                                                "type": "string",
                                                "description": "The external ID can be accessed when query indicateds which system the ID belongs to. The default system Eventmobi is reserved.\n"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "the external ID. Must be unique in the same ID system. Case sensitive."
                                            }
                                        }
                                    }
                                },
                                "profile": {
                                    "type": "object",
                                    "description": "the profile data of person. Including standard Eventmobi fields as well as custom fields.",
                                    "properties": {
                                        "first_name": {
                                            "type": "string"
                                        },
                                        "last_name": {
                                            "type": "string"
                                        },
                                        "email_address": {
                                            "type": "string"
                                        },
                                        "picture_resource_id": {
                                            "type": "string",
                                            "description": "the resource ID of pictures uploaded"
                                        },
                                        "company": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "about": {
                                            "type": "string"
                                        },
                                        "social_contacts": {
                                            "type": "object",
                                            "description": "The general contact info record",
                                            "properties": {
                                                "twitter_url": {
                                                    "type": "string"
                                                },
                                                "facebook_url": {
                                                    "type": "string"
                                                },
                                                "linkedin_url": {
                                                    "type": "string"
                                                },
                                                "website_url": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "custom_fields_meta": {
                                    "type": "object",
                                    "description": "the {custom_field_id:custom_field_value} format JSON object"
                                },
                                "assign_groups": {
                                    "type": "array",
                                    "description": "the array of group IDs",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "assign_agenda": {
                                    "type": "object",
                                    "description": "Agenda for people record. Defaultly, if no session role is assigned, the people is attendee.",
                                    "properties": {
                                        "sessions": {
                                            "type": "array",
                                            "description": "sessions info in array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "session_id": {
                                                        "type": "string",
                                                        "description": "the session ID"
                                                    },
                                                    "session_roles": {
                                                        "type": "array",
                                                        "description": "the session role IDs in array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "upload_picture": {
                                    "type": "object",
                                    "description": "Use this structure if you want Eventmobi to download the picture from Internet locations and associate picture. You will need to specify image cropping info if the picture is not square (same height and length). This will overwrite the picture_url in base profile, and the value in picture_url will be ignored.",
                                    "properties": {
                                        "url": {
                                            "type": "string",
                                            "description": "file location. Have to be a valid image file. Supports jpeg, jpg and png."
                                        },
                                        "trim": {
                                            "type": "string",
                                            "format": "AxB:CxD",
                                            "description": "AxB:CxD means manually crop the image at left-top point AxB and right-bottom point CxD in pixels. The height and width of crop must be the same (image needs to be square). This parameter is required if your image is not square."
                                        }
                                    }
                                },
                                "link_docs": {
                                    "type": "array",
                                    "items": {
                                        "type": "array",
                                        "description": "the array of Document IDs",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "tags": [
                    "People"
                ],
                "responses": {
                    "200": {
                        "description": "The person record updated",
                        "schema": {
                            "type": "object",
                            "description": "the single person record",
                            "properties": {
                                "person_id": {
                                    "type": "string",
                                    "description": "the unique ID of person in people"
                                },
                                "external_ids": {
                                    "type": "array",
                                    "description": "the external IDs used for integrations",
                                    "items": {
                                        "type": "object",
                                        "description": "The IDs from different systems. Used for integration mapping. A default Eventmobi ID will always be generated and cannot be changed once created. Additional IDs can be added/updated for external systems.",
                                        "properties": {
                                            "id_system": {
                                                "type": "string",
                                                "description": "The external ID can be accessed when query indicateds which system the ID belongs to. The default system Eventmobi is reserved.\n"
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "the external ID. Must be unique in the same ID system. Case sensitive."
                                            }
                                        }
                                    }
                                },
                                "profile": {
                                    "type": "object",
                                    "description": "the profile data of person. Including standard Eventmobi fields as well as custom fields.",
                                    "properties": {
                                        "first_name": {
                                            "type": "string"
                                        },
                                        "last_name": {
                                            "type": "string"
                                        },
                                        "email_address": {
                                            "type": "string"
                                        },
                                        "picture_url": {
                                            "type": "string",
                                            "description": "the URL of /resource/picture returns after pictures uploaded"
                                        },
                                        "company": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "about": {
                                            "type": "string"
                                        },
                                        "social_contacts": {
                                            "type": "object",
                                            "description": "The general contact info record",
                                            "properties": {
                                                "twitter_url": {
                                                    "type": "string"
[...]
