{
    "swagger": "2.0",
    "info": {
        "title": "EventMobi API V1 Spec",
        "description": "Eventmobi Public API documentation\n\nNote: To use json response, please add \".json\" at the end of each request. \n",
        "version": "0.6.1"
    },
    "host": "api.eventmobi.com",
    "schemes": [
        "https"
    ],
    "basePath": "/en/api/v1",
    "consumes": [
        "application/xml"
    ],
    "produces": [
        "application/xml",
        "application/json"
    ],
    "securityDefinitions": {
        "APIKeySecurity": {
            "type": "apiKey",
            "in": "header",
            "name": "X-API-KEY",
            "description": "Please ask for your API Key from support team"
        }
    },
    "security": [
        {
            "APIKeySecurity": []
        }
    ],
    "paths": {
        "/events/{event_id}": {
            "get": {
                "summary": "get specific event info with sections",
                "description": "This is getting the general event info with all section settings. The Speaker, Attendee, Sessions and other data are all stored in different sections, as the \"type\" in section data indicated.",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "the short code of specific event.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Event"
                ],
                "responses": {
                    "200": {
                        "description": "The specific event info",
                        "schema": {
                            "title": "Event response",
                            "type": "object",
                            "allOf": [
                                {
                                    "type": "object",
                                    "description": "the general envelope for all responses. The \"response\" section will be different for each endpoint",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "description": "success or error",
                                            "enum": [
                                                "success",
                                                "error"
                                            ]
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "the timestamp of response"
                                        }
                                    }
                                },
                                {
                                    "type": "object",
                                    "title": "response",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "description": "The specific event data",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "event_name": {
                                                    "type": "string"
                                                },
                                                "event_description": {
                                                    "type": "string"
                                                },
                                                "location_name": {
                                                    "type": "string"
                                                },
                                                "location_address": {
                                                    "type": "string"
                                                },
                                                "event_website": {
                                                    "type": "string"
                                                },
                                                "start_date": {
                                                    "type": "string"
                                                },
                                                "end_date": {
                                                    "type": "string"
                                                },
                                                "Logo50": {
                                                    "type": "string"
                                                },
                                                "Logo100": {
                                                    "type": "string"
                                                },
                                                "event_name_full": {
                                                    "type": "string"
                                                },
                                                "support_email_address": {
                                                    "type": "string"
                                                },
                                                "cache_revision": {
                                                    "type": "integer"
                                                },
                                                "partner_id": {
                                                    "type": "string"
                                                },
                                                "icon_color": {
                                                    "type": "string"
                                                },
                                                "event_app_name": {
                                                    "type": "string"
                                                },
                                                "language": {
                                                    "type": "string"
                                                },
                                                "header_images": {
                                                    "type": "string"
                                                },
                                                "push_update": {
                                                    "type": "string"
                                                },
                                                "pushed_revision": {
                                                    "type": "string"
                                                },
                                                "secure_mode": {
                                                    "type": "string"
                                                },
                                                "login_type": {
                                                    "type": "string"
                                                },
                                                "timezone_name": {
                                                    "type": "string"
                                                },
                                                "timezone_offset_secs": {
                                                    "type": "integer"
                                                },
                                                "time_format": {
                                                    "type": "string"
                                                },
                                                "banner_ad_display": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "force_login_feedback": {
                                                    "type": "string"
                                                },
                                                "restrict_account_reg": {
                                                    "type": "string"
                                                },
                                                "restrict_profile_edit": {
                                                    "type": "string"
                                                },
                                                "passcode": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "sections": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "event_id": {
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "icon_class": {
                                                                "type": "string"
                                                            },
                                                            "color_class": {
                                                                "type": "string"
                                                            },
                                                            "page": {
                                                                "type": "string"
                                                            },
                                                            "partner_name": {
                                                                "type": "string"
                                                            },
                                                            "partner_token": {
                                                                "type": "string"
                                                            },
                                                            "self_edit_from": {
                                                                "type": "string"
                                                            },
                                                            "self_edit_invite": {
                                                                "type": "string"
                                                            },
                                                            "self_edit_subject": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "integer"
                                                            },
                                                            "position": {
                                                                "type": "integer"
                                                            },
                                                            "show_ads": {
                                                                "type": "boolean"
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "ads": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "description": "the advertisements used in event",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "exhibitor_id": {
                                                                "type": "string"
                                                            },
                                                            "logo_name": {
                                                                "type": "string"
                                                            },
                                                            "title": {
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "type": "string"
                                                            },
                                                            "background_color": {
                                                                "type": "string"
                                                            },
                                                            "sponsorshiplevel": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "link": {
                                                                "type": "string"
                                                            },
                                                            "rich": {
                                                                "type": "string"
                                                            },
                                                            "call_to_action": {
                                                                "type": "string"
                                                            },
                                                            "call_to_action_url": {
                                                                "type": "string"
                                                            },
                                                            "call_to_action_text": {
                                                                "type": "string"
                                                            },
                                                            "filename": {
                                                                "type": "string"
                                                            },
                                                            "exhibitor_name": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Not Found Event",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "will be \"error\"",
                                    "enum": [
                                        "error"
                                    ]
                                },
                                "message": {
                                    "type": "string",
                                    "description": "the error message will be included here"
                                },
                                "timestamp": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "the timestamp of error occurred"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "update event info",
                "description": "This is updated basic event info only. To change sessions or items, please use the sections/{section_id} or items/{item_id} to access. Please refer to the EventChangeRequest model definition.",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "the short code of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "event_request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "description": "update event info",
                            "required": [
                                "event_name_full",
                                "event_start",
                                "event_end"
                            ],
                            "properties": {
                                "event_name_full": {
                                    "type": "string",
                                    "description": "Name of event. Must be included but can be updated."
                                },
                                "event_website": {
                                    "type": "string",
                                    "description": "Event website"
                                },
                                "event_start": {
                                    "type": "string",
                                    "description": "Start date (required, yyyy-mm-dd)",
                                    "format": "date"
                                },
                                "event_end": {
                                    "type": "string",
                                    "description": "End date (required, yyyy-mm-dd)",
                                    "format": "date"
                                },
                                "event_location_name": {
                                    "type": "string",
                                    "description": "Event location name"
                                },
                                "event_location_address": {
                                    "type": "string",
                                    "description": "Event location address"
                                },
                                "event_about": {
                                    "type": "string",
                                    "description": "Description of event"
                                }
                            }
                        }
                    }
                ],
                "tags": [
                    "Event"
                ],
                "responses": {
                    "200": {
                        "description": "The event updated",
                        "schema": {
                            "title": "Event update response",
                            "type": "object",
                            "allOf": [
                                {
                                    "type": "object",
                                    "description": "the general envelope for all responses. The \"response\" section will be different for each endpoint",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "description": "success or error",
                                            "enum": [
                                                "success",
                                                "error"
                                            ]
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "the timestamp of response"
                                        }
                                    }
                                },
                                {
                                    "type": "object",
                                    "title": "response",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "event": {
                                                    "type": "string",
                                                    "description": "the ID of the event updated"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "will be \"error\"",
                                    "enum": [
                                        "error"
                                    ]
                                },
                                "message": {
                                    "type": "string",
                                    "description": "the error message will be included here"
                                },
                                "timestamp": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "the timestamp of error occurred"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "will be \"error\"",
                                    "enum": [
                                        "error"
                                    ]
                                },
                                "message": {
                                    "type": "string",
                                    "description": "the error message will be included here"
                                },
                                "timestamp": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "the timestamp of error occurred"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/events/{event_id}/sections/{section_id}": {
            "get": {
                "summary": "get specific section info with items",
                "description": "This is getting the general section info with all items data and custom fields if they're available. The Speaker, Attendee, Sessions and other data are all stored in different sections, as the \"type\" in section data indicated.",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "the short code of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "the section ID of specific event.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Section"
                ],
                "responses": {
                    "200": {
                        "description": "The specific section info",
                        "schema": {
                            "title": "Section response",
                            "type": "object",
                            "allOf": [
                                {
                                    "type": "object",
                                    "description": "the general envelope for all responses. The \"response\" section will be different for each endpoint",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "description": "success or error",
                                            "enum": [
                                                "success",
                                                "error"
                                            ]
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "the timestamp of response"
                                        }
                                    }
                                },
                                {
                                    "type": "object",
                                    "title": "response",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "description": "the section info",
                                            "allOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "event_id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "icon_class": {
                                                            "type": "string"
                                                        },
                                                        "color_class": {
                                                            "type": "string"
                                                        },
                                                        "page": {
                                                            "type": "string"
                                                        },
                                                        "partner_name": {
                                                            "type": "string"
                                                        },
                                                        "partner_token": {
                                                            "type": "string"
                                                        },
                                                        "self_edit_from": {
                                                            "type": "string"
                                                        },
                                                        "self_edit_invite": {
                                                            "type": "string"
                                                        },
                                                        "self_edit_subject": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "integer"
                                                        },
                                                        "position": {
                                                            "type": "integer"
                                                        },
                                                        "show_ads": {
                                                            "type": "boolean"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                {
                                                    "type": "object",
                                                    "title": "items",
                                                    "description": "the items are only showing in section GET request, not in event GET request.",
                                                    "properties": {
                                                        "items": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "first_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "about": {
                                                                        "type": "string"
                                                                    },
                                                                    "image50": {
                                                                        "type": "string"
                                                                    },
                                                                    "image100": {
                                                                        "type": "string"
                                                                    },
                                                                    "title": {
                                                                        "type": "string"
                                                                    },
                                                                    "company_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "threetopics": {
                                                                        "type": "null"
                                                                    },
                                                                    "website": {
                                                                        "type": "string"
                                                                    },
                                                                    "facebook": {
                                                                        "type": "string"
                                                                    },
                                                                    "twitter": {
                                                                        "type": "string"
                                                                    },
                                                                    "linkedin": {
                                                                        "type": "string"
                                                                    },
                                                                    "external_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "custom_fields_values": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "type_id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "name": {
                                                                                    "type": "string"
                                                                                },
                                                                                "visibility": {
                                                                                    "type": "string"
                                                                                },
                                                                                "edit_permissions": {
                                                                                    "type": "string"
                                                                                },
                                                                                "section_id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "event_id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "field_id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "value": {
                                                                                    "type": "string"
                                                                                },
                                                                                "owner_type": {
                                                                                    "type": "string"
                                                                                },
                                                                                "owner_id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "deleted": {
                                                                                    "type": "string"
                                                                                },
                                                                                "metadata_id": {
                                                                                    "type": "string"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "config": {
                                                            "type": "object",
                                                            "description": "the config meta object with properties"
                                                        },
                                                        "custom_fields_names": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "event_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "type_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "validation_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "deleted": {
                                                                        "type": "string"
                                                                    },
                                                                    "section_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "position": {
                                                                        "type": "string"
                                                                    },
                                                                    "metadata_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "visibility": {
                                                                        "type": "string"
                                                                    },
                                                                    "edit_permissions": {
                                                                        "type": "string"
                                                                    },
                                                                    "type_name": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Not Found Section",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "will be \"error\"",
                                    "enum": [
                                        "error"
                                    ]
                                },
                                "message": {
                                    "type": "string",
                                    "description": "the error message will be included here"
                                },
                                "timestamp": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "the timestamp of error occurred"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "update section info",
                "description": "This will update section settings. Please refer to the SectionChangeRequest model definition.",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "the short code of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "the section ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "section_request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "description": "update session info",
                            "required": [
                                "name",
                                "position",
                                "type"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "name of section (required)"
                                },
                                "position": {
                                    "type": "string",
                                    "description": "position of section in section list (required)"
                                },
                                "type": {
                                    "type": "string",
                                    "description": "type of section (one of agenda, speakers, companies, attendees)(required)"
                                }
                            }
                        }
                    }
                ],
                "tags": [
                    "Section"
                ],
                "responses": {
                    "200": {
                        "description": "The section updated",
                        "schema": {
                            "title": "Section update response",
                            "type": "object",
                            "allOf": [
                                {
                                    "type": "object",
                                    "description": "the general envelope for all responses. The \"response\" section will be different for each endpoint",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "description": "success or error",
                                            "enum": [
                                                "success",
                                                "error"
                                            ]
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "the timestamp of response"
                                        }
                                    }
                                },
                                {
                                    "type": "object",
                                    "title": "response",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "event": {
                                                    "type": "string",
                                                    "description": "the ID of the section updated"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "will be \"error\"",
                                    "enum": [
                                        "error"
                                    ]
                                },
                                "message": {
                                    "type": "string",
                                    "description": "the error message will be included here"
                                },
                                "timestamp": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "the timestamp of error occurred"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "will be \"error\"",
                                    "enum": [
                                        "error"
                                    ]
                                },
                                "message": {
                                    "type": "string",
                                    "description": "the error message will be included here"
                                },
                                "timestamp": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "the timestamp of error occurred"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/events/{event_id}/sections/{section_id}/items": {
            "post": {
                "summary": "add a new item in section",
                "description": "Add a new item in specific section. Must be the same type, e.g. Attendee, Session, etc. Please refer to the SectionChangeRequest model definition.",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "the short code of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "the section ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "new_item",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "description": "Please use different properties for different section type. Currently, sessions and attendees are supported.",
                            "properties": {
                                "topic": {
                                    "type": "string",
                                    "description": "***Session***: title of session (required)"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "***Session***: description of session (required)"
                                },
                                "date": {
                                    "type": "string",
                                    "description": "***Session***: date of session (required)"
                                },
                                "start_time": {
                                    "type": "string",
                                    "description": "***Session***: start time of session (required)"
                                },
                                "end_time": {
                                    "type": "string",
                                    "description": "***Session***: end time of session"
                                },
                                "location": {
                                    "type": "string",
                                    "description": "***Session***: location of session"
                                },
                                "speakers": {
                                    "type": "string",
                                    "description": "***Session***: comma separated list of speakers by external id’s"
                                },
                                "tracks": {
                                    "type": "string",
                                    "description": "***Session***: comma separated list of tracks by external id’s"
                                },
                                "attendees": {
                                    "type": "string",
                                    "description": "***Session***: comma separated list of attendees by emails"
                                },
                                "attendee_name": {
                                    "type": "string",
                                    "description": "***Attendee***: name of attendee (required)"
                                },
                                "attendee_email": {
                                    "type": "string",
                                    "description": "***Attendee***: email address (required)"
                                },
                                "attendee_about": {
                                    "type": "string",
                                    "description": "***Attendee***: attendee bio"
                                },
                                "attendee_topics": {
                                    "type": "string",
                                    "description": "***Attendee***: 3 topics that interest attendee"
                                },
                                "attendee_title": {
                                    "type": "string",
                                    "description": "***Attendee***: title"
                                },
                                "attendee_company": {
                                    "type": "string",
                                    "description": "***Attendee***: company employed at"
                                },
                                "website_address": {
                                    "type": "string",
                                    "description": "***Attendee***: attendee website"
                                },
                                "facebook": {
                                    "type": "string",
                                    "description": "***Attendee***: Facebook"
                                },
                                "twitter_login": {
                                    "type": "string",
                                    "description": "***Attendee***: Twitter name"
                                },
                                "linkedin_login": {
                                    "type": "string",
                                    "description": "***Attendee***: LinkedIn name"
                                },
                                "phone": {
                                    "type": "string",
                                    "description": "***Attendee***: Phone"
                                },
                                "filename": {
                                    "type": "string",
                                    "description": "***Attendee***: name of previously uploaded image file"
                                },
                                "custom_fields[custom_field_id]": {
                                    "type": "string",
                                    "description": "***Attendee***: value for this custom field. Once you have the Custom Field settings from section request, you can use the id within to assign values, E.g. custom_fields[40211]: \"Custom Field Value\". You may have multiple custom fields included."
                                },
                                "external_id": {
                                    "type": "string",
                                    "description": "***Shared***: your code for representing this item"
                                }
                            }
                        }
                    }
                ],
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "description": "The item added",
                        "schema": {
                            "title": "Section update response",
                            "type": "object",
                            "allOf": [
                                {
                                    "type": "object",
                                    "description": "the general envelope for all responses. The \"response\" section will be different for each endpoint",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "description": "success or error",
                                            "enum": [
                                                "success",
                                                "error"
                                            ]
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "the timestamp of response"
                                        }
                                    }
                                },
                                {
                                    "type": "object",
                                    "title": "response",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "event": {
                                                    "type": "string",
                                                    "description": "the ID of the item added"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "will be \"error\"",
                                    "enum": [
                                        "error"
                                    ]
                                },
                                "message": {
                                    "type": "string",
                                    "description": "the error message will be included here"
                                },
                                "timestamp": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "the timestamp of error occurred"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/events/{event_id}/sections/{section_id}/items/{item_id}": {
            "get": {
                "summary": "get specific item info",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "the short code of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "the section ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "item_id",
                        "in": "path",
                        "description": "the item ID of specific event.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "description": "The specific item info",
                        "schema": {
                            "title": "Item response",
                            "type": "object",
                            "allOf": [
                                {
                                    "type": "object",
                                    "description": "the general envelope for all responses. The \"response\" section will be different for each endpoint",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "description": "success or error",
                                            "enum": [
                                                "success",
                                                "error"
                                            ]
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "the timestamp of response"
                                        }
                                    }
                                },
                                {
                                    "type": "object",
                                    "title": "response",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "description": "the section info",
                                            "allOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "event_id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "icon_class": {
                                                            "type": "string"
                                                        },
                                                        "color_class": {
                                                            "type": "string"
                                                        },
                                                        "page": {
                                                            "type": "string"
                                                        },
                                                        "partner_name": {
                                                            "type": "string"
                                                        },
                                                        "partner_token": {
                                                            "type": "string"
                                                        },
                                                        "self_edit_from": {
                                                            "type": "string"
                                                        },
                                                        "self_edit_invite": {
                                                            "type": "string"
                                                        },
                                                        "self_edit_subject": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "integer"
                                                        },
                                                        "position": {
                                                            "type": "integer"
                                                        },
                                                        "show_ads": {
                                                            "type": "boolean"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                {
                                                    "type": "object",
                                                    "title": "items",
                                                    "description": "the items are only showing in section GET request, not in event GET request.",
                                                    "properties": {
                                                        "items": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "first_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "about": {
                                                                        "type": "string"
                                                                    },
                                                                    "image50": {
                                                                        "type": "string"
                                                                    },
                                                                    "image100": {
                                                                        "type": "string"
                                                                    },
                                                                    "title": {
                                                                        "type": "string"
                                                                    },
                                                                    "company_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "threetopics": {
                                                                        "type": "null"
                                                                    },
                                                                    "website": {
                                                                        "type": "string"
                                                                    },
                                                                    "facebook": {
                                                                        "type": "string"
                                                                    },
                                                                    "twitter": {
                                                                        "type": "string"
                                                                    },
                                                                    "linkedin": {
                                                                        "type": "string"
                                                                    },
                                                                    "external_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "custom_fields_values": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "type_id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "name": {
                                                                                    "type": "string"
                                                                                },
                                                                                "visibility": {
                                                                                    "type": "string"
                                                                                },
                                                                                "edit_permissions": {
                                                                                    "type": "string"
                                                                                },
                                                                                "section_id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "event_id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "field_id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "value": {
                                                                                    "type": "string"
                                                                                },
                                                                                "owner_type": {
                                                                                    "type": "string"
                                                                                },
                                                                                "owner_id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "deleted": {
                                                                                    "type": "string"
                                                                                },
                                                                                "metadata_id": {
                                                                                    "type": "string"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "config": {
                                                            "type": "object",
                                                            "description": "the config meta object with properties"
                                                        },
                                                        "custom_fields_names": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "event_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "type_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "validation_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "deleted": {
                                                                        "type": "string"
                                                                    },
                                                                    "section_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "position": {
                                                                        "type": "string"
                                                                    },
                                                                    "metadata_id": {
                                                                        "type": "string"
                                                                    },
                                                                    "visibility": {
                                                                        "type": "string"
                                                                    },
                                                                    "edit_permissions": {
                                                                        "type": "string"
                                                                    },
                                                                    "type_name": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Not Found Section",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "will be \"error\"",
                                    "enum": [
                                        "error"
                                    ]
                                },
                                "message": {
                                    "type": "string",
                                    "description": "the error message will be included here"
                                },
                                "timestamp": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "the timestamp of error occurred"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "update item info",
                "description": "Update item data in specific section. Must be the same type, e.g. Attendee, Session, etc. Please refer to the SectionChangeRequest model definition.",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "the short code of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "the section ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "item_id",
                        "in": "path",
                        "description": "the item ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "item_request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "description": "Please use different properties for different section type. Currently, sessions and attendees are supported.",
                            "properties": {
                                "topic": {
                                    "type": "string",
                                    "description": "***Session***: title of session (required)"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "***Session***: description of session (required)"
                                },
                                "date": {
                                    "type": "string",
                                    "description": "***Session***: date of session (required)"
                                },
                                "start_time": {
                                    "type": "string",
                                    "description": "***Session***: start time of session (required)"
                                },
                                "end_time": {
                                    "type": "string",
                                    "description": "***Session***: end time of session"
                                },
                                "location": {
                                    "type": "string",
                                    "description": "***Session***: location of session"
                                },
                                "speakers": {
                                    "type": "string",
                                    "description": "***Session***: comma separated list of speakers by external id’s"
                                },
                                "tracks": {
                                    "type": "string",
                                    "description": "***Session***: comma separated list of tracks by external id’s"
                                },
                                "attendees": {
                                    "type": "string",
                                    "description": "***Session***: comma separated list of attendees by emails"
                                },
                                "attendee_name": {
                                    "type": "string",
                                    "description": "***Attendee***: name of attendee (required)"
                                },
                                "attendee_email": {
                                    "type": "string",
                                    "description": "***Attendee***: email address (required)"
                                },
                                "attendee_about": {
                                    "type": "string",
                                    "description": "***Attendee***: attendee bio"
                                },
                                "attendee_topics": {
                                    "type": "string",
                                    "description": "***Attendee***: 3 topics that interest attendee"
                                },
                                "attendee_title": {
                                    "type": "string",
                                    "description": "***Attendee***: title"
                                },
                                "attendee_company": {
                                    "type": "string",
                                    "description": "***Attendee***: company employed at"
                                },
                                "website_address": {
                                    "type": "string",
                                    "description": "***Attendee***: attendee website"
                                },
                                "facebook": {
                                    "type": "string",
                                    "description": "***Attendee***: Facebook"
                                },
                                "twitter_login": {
                                    "type": "string",
                                    "description": "***Attendee***: Twitter name"
                                },
                                "linkedin_login": {
                                    "type": "string",
                                    "description": "***Attendee***: LinkedIn name"
                                },
                                "phone": {
                                    "type": "string",
                                    "description": "***Attendee***: Phone"
                                },
                                "filename": {
                                    "type": "string",
                                    "description": "***Attendee***: name of previously uploaded image file"
                                },
                                "custom_fields[custom_field_id]": {
                                    "type": "string",
                                    "description": "***Attendee***: value for this custom field. Once you have the Custom Field settings from section request, you can use the id within to assign values, E.g. custom_fields[40211]: \"Custom Field Value\". You may have multiple custom fields included."
                                },
                                "external_id": {
                                    "type": "string",
                                    "description": "***Shared***: your code for representing this item"
                                }
                            }
                        }
                    }
                ],
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "description": "The section updated",
                        "schema": {
                            "title": "Section update response",
                            "type": "object",
                            "allOf": [
                                {
                                    "type": "object",
                                    "description": "the general envelope for all responses. The \"response\" section will be different for each endpoint",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "description": "success or error",
                                            "enum": [
                                                "success",
                                                "error"
                                            ]
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "the timestamp of response"
                                        }
                                    }
                                },
                                {
                                    "type": "object",
                                    "title": "response",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "event": {
                                                    "type": "string",
                                                    "description": "the ID of the section updated"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "will be \"error\"",
                                    "enum": [
                                        "error"
                                    ]
                                },
                                "message": {
                                    "type": "string",
                                    "description": "the error message will be included here"
                                },
                                "timestamp": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "the timestamp of error occurred"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "will be \"error\"",
                                    "enum": [
                                        "error"
                                    ]
                                },
                                "message": {
                                    "type": "string",
                                    "description": "the error message will be included here"
                                },
                                "timestamp": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "the timestamp of error occurred"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "delete specific item",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "the short code of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "the section ID of specific event.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "item_id",
                        "in": "path",
                        "description": "the item ID of specific event.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "description": "The item deleted",
                        "schema": {
                            "title": "item deletion response",
                            "type": "object",
                            "allOf": [
                                {
                                    "type": "object",
                                    "description": "the general envelope for all responses. The \"response\" section will be different for each endpoint",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "description": "success or error",
                                            "enum": [
                                                "success",
                                                "error"
                                            ]
                                        },
                                        "timestamp": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "the timestamp of response"
                                        }
                                    }
                                },
                                {
                                    "type": "object",
                                    "title": "response",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "event": {
                                                    "type": "string",
                                                    "description": "the ID of the item deleted"
                                                }
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
[...]
